.container{
    width:100;
    float:none;
}
.header{
    width:100%;
    float:left;

}
.top-header{
    width:100%;
    float:left;
    background-color: black;
    display:flex;
}
.logo-part{
    width:25%;
    float:left;
}
.logo-part img{
    float:left;
    width:50px;
    height:auto;
    display:block;
    margin:0 auto;
    padding:15px;
}
.logo-part h2{
    color:white;
    font-size: 28px;
    font-weight: 300;
}
.nav-bar{
    width:50%; 
    float:left;
    text-align: center;
    padding:0px 20px;
    justify-content:center;
    padding-top:20px;
}

.nav-bar ul{
    width:100%;
    float:left;
    
}

.nav-bar ul li{
    display:inline-block;
}

.nav-bar ul li a{
    text-decoration:none;
    font-size: 18px;
    font-weight:500;
    text-transform:uppercase;
    color:white;
    padding:0px 20px; 
}
.nav-bar ul li a:hover{
    color:brown;
    text-decoration: underline;
    transition: 0.5s;
}
.end-bar{
    width:25%;
    float:right; 
    text-align: center;
}
.end-bar h3{
    width:200px;
    margin-left: 50px;
    color:white;
    border-style: solid;
    border-color: brown;
    border-width: 3px;
    display:flexbox;
    padding:10px;

}
.body{
    width:100%;
    float:left;
    position:relative;
    display:inline-block;
}
.body img{
    width:100%;
    height:auto;
    display:block;
    transition: all 1.2s;
}
.body img:hover{
    transform: scale(1.1s);
}   
.body-text {
    color:white;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align: center;
    font-size: 35px;

}
.body-text h4{
    padding:0px 20px;
    font-size:17px;
    color:rgb(216, 166, 100);
    text-decoration: underline;
}
.sec-body{
    width:100%;
    float:left;
    background-color: beige;
    padding-top: 70px;
    padding-bottom: 70px;
}
.left1{
    width:40%;
    float:left;
    

}
.left1 img{
    margin-left: 70px;
    width:70%;
    height:400px;
}
.right1{
    width:60%;
    float:right;
    text-align: center;
    
}
.right1 h2{
    border-style: block;
    border-color: brown;
    color:white;
    background-color: brown;
    display:inline-table;
    border-radius: 30px;
}
.right1 h1{
    color:black;
    font-size: 65px;
    font-weight: 900;
    
}
.third-body{
    width:100%;
    float:left;
    text-align: center;
    background-color: antiquewhite;
    align-items: center;
    justify-content:center;
}
.third-body h3{
    border-style: block;
    border-color: brown;
    color:white;
    background-color: brown;
    display:inline-table;
    border-radius: 0px;
    font-size: 25px;

}
.third-body h2{
    font-size: 40px;
    font-weight: 700;
    color:black;
    justify-content:center;
}
.left2{
    width:30%;
    float:left;
    background-color: white;
    margin:20px 20px;
}
.left2 img{
    padding:25px;
    width:314px;
    height:212px;
}
.left2 h3{
    color:white;
    border-style: solid;
    border-color: brown;
    border-width: 3px;
    display:flexbox;
    border-radius: 0%;

}
.middle2{
    width:30%;
    float:left;
    background-color: white;
    margin:20px 20px;
}
.middle2 img{
    padding:25px;
    width:314px;
    height:212px;
}
.middle2 h3{
    color:white;
    border-style: solid;
    border-color: brown;
    border-width: 3px;
    display:flexbox;
    border-radius: 0%;

}
.right2{
    width:30%;
    float:right;
    background-color: white;
    margin:20px 20px;
}
.right2 img{
    padding:25px;
    width:314px;
    height:212px;
}
.right2 h3{
    color:white;
    border-style: solid;
    border-color: brown;
    border-width: 3px;
    display:flexbox;
    border-radius: 0%;

}
.food-menu-div{
    width:100%;
    float:left;
    padding:0 20px;
}
.food-menu{
    width:40%;
    float:left;
    background-color: white;
    padding-top: 75px;
    padding-left: 35px;
}
.food-menu h3{
    border-style: block;
    border-color: brown;
    padding:10px;
    color:white;
    background-color: brown;
    display:inline-table;
    border-radius: 20px;
}
.food-menu h2{
    font-size: 35px;
    font-weight: 900px;

}
.menu-nav{
    padding-right: 50px;
    width:50%; 
    float:right;
    text-align: center;
    padding-top: 100px;
}

.menu-nav ul{
    width:100%;
    float:left;
    padding:30px;
}

.menu-nav ul li{
    display:inline-block;
    border:2px solid;
    border-color: brown;
    padding:10px;
}

.menu-nav ul li a{
    text-decoration:none;
    font-size: 20px;
    font-weight:600;
    text-transform:uppercase;
    color:black;
    padding:0px 20px; 

}
.menu-nav ul li a:hover{
    color:brown;
    text-decoration: underline;
}
.menu-img{
    width:100%;
    float:left;
    padding-top: 40px;
}
.menu-pic1{
    width: 27%;
    float:left;
    border:2px solid;
    padding:20px;
    
}
.menu-pic1 img{
    width:350px;
   

}
.menu-pic2 {
    width: 68%; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    margin: 0 auto; 
    margin-left: 410px;

}

.menu-pic22, .menu-pic3, .menu-pic4, .menu-pic5, .menu-pic6, .menu-pic7 {
    width: 30%; 
    border: 2px solid;
    margin-bottom: 20px;
    text-align: center; 
    padding: 10px; 
}


.menu-pic22 img, 
.menu-pic3 img, 
.menu-pic4 img, 
.menu-pic5 img, 
.menu-pic6 img, 
.menu-pic7 img {
    width: 100%; 
    height: auto; 
}

.menu-pic22 h2, 
.menu-pic3 h2, 
.menu-pic4 h2, 
.menu-pic5 h2, 
.menu-pic6 h2, 
.menu-pic7 h2 {
    font-size: 18px;
    margin: 10px 0;
}

.menu-pic22 h3, 
.menu-pic3 h3, 
.menu-pic4 h3, 
.menu-pic5 h3, 
.menu-pic6 h3, 
.menu-pic7 h3 {
    font-size: 16px;
    color:brown;
}
.gallery{
    width:100%;
    float:left;
    padding-top: 60px;
}
.pic-gal{
    width:100%;
    float:left;
    position: absolute;
   
}
.pic-gal img{
    width:100%;
    height: 400px;
}
.gal-img {
    padding-top: 100px;
    padding-left: 40px;
    padding-right:30px;
    position: relative;
    color:aliceblue;
    font-size: 22px;
}
.gal-img h2{
    width:220px;
    border:solid brown;
    padding:10px;
    font-size:16px;
    text-align: center;
    background-color: #333;
}
.gal-img img{
    width:22%;
    padding:15px;
    position: relative;
}
.feedback{
    width:100%;
    float:left;
    padding-top: 70px;
    text-align: center;
    font-size: 30px;
  
}
.feedback1{
    width:40%;
    float:left;
    border:2px  solid black;
    
    margin-left: 70px;
    margin-top: 60px;
}
.feedback1-img{
    width:30%;
    float:left;
}
.feedback1-img img{
    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 60px;
    width:100px;
    float:left;
}
.feedback1-text{
    width:60%;
    float:left;
}
.feedback1-text h2{
    padding-right: 90px;
    margin-left: 0px;
    margin-top: 50px;
    font-size: 30px;
    font-weight: 700;
}
.feedback1-text h3{
    margin-right: 160px;
    font-size: 20px;
    font-weight: 500;
    color: #918b8b;
}
.feedback2{
    width:40%;
    float:right;
    border:2px solid black;
    text-align: center;
    margin-top: 60px;
    margin-right: 70px;
}
.feedback2-img{
    width:30%;
    float:left;
}
.feedback2-img img{
    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 60px;
    width:100px;
    float:left;
}
.feedback2-text{
    width:60%;
    float:left;
}
.feedback2-text h2{
    padding-right: 90px;
    margin-left: 0px;
    margin-top: 50px;
    font-size: 30px;
    font-weight: 700;
}
.feedback2-text h3{
    margin-right: 160px;
    font-size: 20px;
    font-weight: 500;
    color: #918b8b;
}
.form-page{
    width:100%;
    float:left;
    padding-top: 100px;
}
.form{
    width:50%;
    float:left;
    text-align: center;
    padding-left: 90px;
}
.form p{
    margin-left: 280px;
    padding:13px;
    color: white;
    width:200px;
    border: 2px solid brown;
    background-color: rgb(160, 52, 52);
    font-size: 18px;
}
.form h1{
    font-size: 40px;
    font-weight: 800;
}
input[type="number"]{
    width:350px;
    height:50px;
}
input[type="date"]{
    width:350px;
    height:50px;
}
input[type="time"]{
    width:350px;
    height:50px;
}
input[type="submit"]{
    width:350px;
    height:50px;
    background-color: brown;
}
.foot{
    width:100%;
    float:left;
    padding-top: 100px;
}
.footer-img{
width:100%;
float:left;
position: absolute;
}
.footer-img img{
    width:100%;
    height:600px;

}
.footer-text1{
    padding-top: 150px;
    padding-left: 50px;
    text-align: center;
    color: white;
    width:25%;
    float:left;
    position: relative;
    color: #c7c3c3;
}
.footer-text2{
    padding-top: 150px;
    padding-left: 100px;
    text-align: center;
    color: white;
    width:30%;
    float:left;
    position: relative;
    color: #c7c3c3;
}
.footer-text3{
    padding-top: 150px;
    padding-right: 30px;
    text-align: center;
    color: white;
    width:25%;
    float:right;
    position: relative;
    color: #c7c3c3;
}
/** Responsive page**/
@media  only screen and (max-width : 768px){
    body{
        overflow-x: hidden;
    }
    .nav-bar {
        width: 50%;
        float: left;
        text-align: center;
        padding: 0px 20px;
        justify-content: center;
        padding-top: 20px;
        display: none;
    }

    .logo-part img {
        float: left;
        width: 75px;
        height: auto;
        display: block;
        margin: 0 auto;
        padding: 15px;
    }

    .logo-part h2 {
        color: white;
        font-size: 28px;
        font-weight: 300;
        float: left;
        width: 14%;
    }

    .logo-part {
        width: 69%;
        float: left;
        display: block;
        margin-left: 41px;
    }

    .end-bar {
        width: 70%;
        float: right;
        text-align: center;
        padding-top: 95px;
        position: relative;
        right: 154px;
    }

    .end-bar h3 {
        width: 185px;
        margin-left: 58px;
        color: white;
        border-style: solid;
        border-color: brown;
        border-width: 2px;
        display: flexbox;
        padding: 7px;
    }

    .body-text {
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 9px;
        display: block;
        float: left;
        margin-top: 13px;
        width: 100%;
    }

    .left1 {
        width: 115%;
        float: left;
        position: relative;
        right: 32px;
    }

    .right1 {
        width: 100%;
        float: left;
        text-align: center;
    }

    .left2 {
        width: 100%;
        float: left;
        background-color: white;
        margin: 20px 20px;
        position: relative;
        right: 20px;
    }

    .middle2 {
        width: 100%;
        float: left;
        background-color: white;
        margin: 20px 20px;
        position: relative;
        right: 21px;
    }

    .right2 {
        width: 100%;
        float: left;
        background-color: white;
        margin: 20px 20px;
        position: relative;
        right: 20px;
    }

    .food-menu {
        width: 100%;
        float: left;
        background-color: white;
        padding-top: 50px;
        padding-left: 0px;
        text-align: center;
    }

    .food-menu h2 {
        font-size: 23px;
        font-weight: 900px;
    }

    .menu-nav {
        width: 100%;
        float: left;
        text-align: center;
        position: relative;
        right: 48px;
        padding-top: 10px;
    }

    .menu-img {
        width: 100%;
        float: left;
        padding-top: 40px;
    }

    .menu-pic1 {
        width: 88%;
        float: left;
        border: 2px solid;
        padding: 13px;
        position: relative;
        right: 10px;
    }

    .menu-pic1 img {
        width: 322px;
    }

    .menu-pic2 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
        margin-left: 0px;
        padding-top: 38px;
        position: relative;
        right: 19px;
    }

    .menu-pic22, .menu-pic3, .menu-pic4, .menu-pic5, .menu-pic6, .menu-pic7 {
        width: 41%;
        border: 2px solid;
        margin-bottom: 20px;
        text-align: center;
        padding: 10px;
    }


    .pic-gal img {
        width: 100%;
        height: 467px;
    }

    .gal-img {
        padding-top: 30px;
        padding-left: 50px;
        padding-right: 30px;
        position: relative;
        color: aliceblue;
        font-size: 12px;
    }


    .gal-img img {
        width: 44%;
        padding: 7px;
        position: relative;
    }
    
    .feedback {
        width: 100%;
        float: left;
        padding-top: 25px;
        text-align: center;
        font-size: 21px;
    }

    .feedback1 {
        width: 100%;
        float: left;
        margin-left: 0px;
        margin-top: 0px;
        border: 2px solid black;
    }

    .feedback1-img img {
        margin-left: 18px;
        margin-top: 14px;
        width: 100px;
        float: left;
    }

    .feedback1-text {
        width: 68%;
        float: left;
    }

    
    .feedback1-text h2 {
        padding-right: 2px;
        margin-left: 0px;
        margin-top: 29px;
        font-size: 30px;
        font-weight: 700;
    }

    .feedback1-text h3 {
        margin-right: 81px;
        font-size: 20px;
        font-weight: 500;
        color: #918b8b;
    }

    .feedback2 {
        width: 100%;
        float: left;
        margin-left: 0px;
        border: 2px solid black;
    }

    .feedback2-img img {
        margin-left: 18px;
        margin-top: 14px;
        width: 100px;
        float: left;
    }

    .feedback2-text {
        width: 68%;
        float: left;
    }

    
    .feedback2-text h2 {
        padding-right: 2px;
        margin-left: 0px;
        margin-top: 29px;
        font-size: 30px;
        font-weight: 700;
    }

    .feedback2-text h3 {
        margin-right: 81px;
        font-size: 20px;
        font-weight: 500;
        color: #918b8b;
    }

    .form-page {
        width: 100%;
        float: left;
        padding-top: 0px;
    }

    .form {
        width: 100%;
        float: left;
        text-align: center;
        padding-left: 0px;
    }

    .form p {
        margin-left: 63px;
        padding: 13px;
        color: white;
        width: 200px;
        border: 2px solid brown;
        background-color: rgb(160, 52, 52);
        font-size: 18px;
    }

    input[type="submit"] {
        width: 238px;
        height: 50px;
        background-color: brown;
        margin-bottom: 49px;
        margin-top: 20px;
    }

    .form-img img{
            width: 100%;
            height: 327px;
    }

    .footer-img img {
        width: 100%;
        height: 513px;
    }

    .footer-text1 {
        padding-top: 100px;
        padding-left: 30px;
        text-align: center;
        color: white;
        width: 30%;
        float: left;
        position: relative;
        color: #c7c3c3;
    }

    .footer-text2 {
        padding-top: 107px;
        padding-left: 67px;
        text-align: center;
        color: white;
        width: 30%;
        float: left;
        position: relative;
        color: #c7c3c3;
    }

    .footer-text3 {
        padding-top: 150px;
        padding-right: 30px;
        text-align: center;
        color: white;
        width: 25%;
        float: right;
        position: relative;
        display: none;
        color: #c7c3c3;
    }





}